# comma-separated list of globs to enable or disable (`-` prefix)
# this one disables all and then enables readability-identifier-naming
Checks: "-*,readability-identifier-naming"
# options to checks
CheckOptions:
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.ClassMemberCase: lower_case
  readability-identifier-naming.ClassMemberSuffix: "_"
  readability-identifier-naming.StructMemberCase: lower_case
  readability-identifier-naming.ConstantMemberCase: UPPER_CASE
