[submodule "docs/doxygen.conf/doxygen-awesome-css"]
	path = docs/doxygen.conf/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "Tracking/acts"]
	path = Tracking/acts
	url = https://github.com/acts-project/acts
[submodule "Trigger/HLS_arbitrary_Precision_Types"]
	path = Trigger/HLS_arbitrary_Precision_Types
	url = https://github.com/Xilinx/HLS_arbitrary_Precision_Types.git
[submodule "Trigger/ruckus"]
	path = Trigger/ruckus
	url = https://github.com/slaclab/ruckus
[submodule "SimCore/G4DarkBreM"]
	path = SimCore/G4DarkBreM
	url = https://github.com/LDMX-Software/G4DarkBreM.git
