
# Byte-compiled files
__pycache__/

.cproject
.project
.settings
.pydevproject
*~
*#
*.pyc
/bin
/lib
/data
/build*
/install*
Version.h
EventDisplay/include/EventDisplay/EventDisplayDef.h
EventDisplay/include/EventDisplay/EventDisplayLinkDef.h
*.DS_Store
*.vscode/*
*__*
