[submodule "MagFieldMap"]
	path = MagFieldMap
	url = https://github.com/LDMX-Software/MagFieldMap
[submodule "SimCore"]
	path = SimCore
	url = https://github.com/LDMX-Software/SimCore
[submodule "Framework"]
	path = Framework
	url = https://github.com/LDMX-Software/Framework.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/LDMX-Software/cmake.git
[submodule "Ecal"]
	path = Ecal
	url = https://github.com/LDMX-Software/Ecal.git
[submodule "Conditions"]
	path = Conditions
	url = https://github.com/LDMX-Software/Conditions.git
[submodule "Hcal"]
	path = Hcal
	url = https://github.com/LDMX-Software/Hcal.git
[submodule "TrigScint"]
	path = TrigScint
	url = https://github.com/LDMX-Software/TrigScint
[submodule "Trigger"]
	path = Trigger
	url = https://github.com/LDMX-Software/Trigger.git
