[submodule "MagFieldMap"]
	path = MagFieldMap
	url = https://github.com/LDMX-Software/MagFieldMap
[submodule "SimCore"]
	path = SimCore
	url = https://github.com/LDMX-Software/SimCore
[submodule "Framework"]
	path = Framework
	url = https://github.com/LDMX-Software/Framework.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/LDMX-Software/cmake.git
[submodule "Hcal"]
	path = Hcal
	url = https://github.com/LDMX-Software/Hcal.git
[submodule "TrigScint"]
	path = TrigScint
	url = https://github.com/LDMX-Software/TrigScint
[submodule "Tracking"]
	path = Tracking
	url = https://github.com/LDMX-Software/Tracking
[submodule "docs/doxygen.conf/doxygen-awesome-css"]
	path = docs/doxygen.conf/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "Trigger"]
	path = Trigger
	url = https://github.com/LDMX-Software/Trigger.git
