import sys

from LDMX.Framework import ldmxcfg

p=ldmxcfg.Process("recon")

p.libraries.append("libEventProc.so")

ecalDigis = ldmxcfg.Producer("ecalDigis","ldmx::EcalDigiProducer")

ecalDigis.parameters["readoutThreshold"] = 4.
ecalDigis.parameters["noiseIntercept"] = 900.
ecalDigis.parameters["noiseSlope"] = 22.
ecalDigis.parameters["padCapacitance"] = 27.56

hcalDigis = ldmxcfg.Producer("hcalDigis", "ldmx::HcalDigiProducer")
hcalDigis.parameters["meanNoise"] = 0.004
hcalDigis.parameters["readoutThreshold"]= 1
hcalDigis.parameters["strips_side_lr_per_layer"] = 3
hcalDigis.parameters["num_side_lr_hcal_layers"] = 17
hcalDigis.parameters["strips_side_tb_per_layer"] = 3
hcalDigis.parameters["num_side_tb_hcal_layers"] = 17
hcalDigis.parameters["strips_back_per_layer"] = 31
hcalDigis.parameters["num_back_hcal_layers"] = 40
hcalDigis.parameters["mev_per_mip"] = 1.4*20./6.
hcalDigis.parameters["pe_per_mip"] = 13.5
hcalDigis.parameters["doStrip"] = True

ecalVeto = ldmxcfg.Producer("ecalVeto", "ldmx::EcalVetoProcessor")
ecalVeto.parameters["num_ecal_layers"] = 34
ecalVeto.parameters["do_bdt"] = 1
ecalVeto.parameters["bdt_file"] = "cal_bdt.pkl"
ecalVeto.parameters["disc_cut"] = 0.94

hcalVeto = ldmxcfg.Producer("hcalVeto", "ldmx::HcalVetoProcessor")
hcalVeto.parameters["pe_threshold"] = 8.0

trigger = ldmxcfg.Producer("trigger", "ldmx::TriggerProcessor")
trigger.parameters["threshold"] = 1500.0
trigger.parameters["mode"] = 0
trigger.parameters["start_layer"] = 1
trigger.parameters["end_layer"] = 20

findable_track = ldmxcfg.Producer("findable", "ldmx::FindableTrackProcessor")

p.histogramFile = "histo.root"

p.sequence=[ecalDigis, 
            hcalDigis, 
            ecalVeto, 
            hcalVeto, 
            trigger, 
            findable_track
            ]

p.maxEvents=-1
p.inputFiles=["$input_file"]
p.outputFiles=["$output_file"]

p.printMe()
